.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}
.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h1{
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(267deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 550px;
    color: #d8d8d8;
    font-size: 20px;
    line-height: 35px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #d8d8d8;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.contact-right label{
    padding-right: 30px;
    padding-bottom: 20px;
    color: #d8d8d8;
    font-size: 22px;
    font-weight: 500;
    
}
.contact-right input{
    border: none;
    margin-bottom: 30px;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 20px;
}
.contact-right textarea{
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 20px;
    margin-bottom: 30px;
}

#message-label {
  display: block;         /* <- key fix */
  /* margin-bottom: 30px; */
  /* background-color: red; */
  padding-bottom: 20px;
}

.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(267deg, #DF8908 10%, #B415FF 100%);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}


.success-alert {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 5px;
  text-align: center;
}

.contact{
    margin-left: 0;
    margin-right: 0;

}

.contact-section{
    margin-left: 0;
    margin-right: 0;
    
}
.contact{
        /* margin: 80px 50px; */
        margin-top: 70px;
        margin-left: 30px;
        margin-right: 30px;
        padding: 20px;
    }

@media (max-width: 1224px){
    .contact{
        margin: 80px 100px;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 30px;
    }
    .contact-title h1{
        font-size: 50px;
    }
    .contact-section{
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }
    .contact-left, .contact-right{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .contact-left h1, .contact-right label{
        font-size: 20px;
    }
    .contact-left p, .contact-details, .contact-right input, .contact-right textarea{
        font-size: 18px;
        max-width: 80%;
    }
    #message{
        /* max-width: 90%; */
        /* padding: 30; */
        /* width: 100%; */
        align-self: flex-end;
    }
    #message-label{
        display: block; /* Ensures the label takes up the full width */
        margin-bottom: 10px; /* Adds space between the label and textarea */
        font-size: 18px; /* Adjusts the font size of the label */
    }
    #message{
        width: 100%;
        padding: 20px;
        font-size: 18px;
    }
}


@media (max-width: 1024px){
    .contact{
    margin-left: 0;
    margin-right: 0;

}

.contact-section{
    margin-left: 0;
    margin-right: 0;
    
}
  .contact-title h1{
        font-size: 70px;
    }
    .contact-section{
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }
    .contact-left, .contact-right{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .contact-left h1, .contact-right label{
        font-size: 25;
    }
    .contact-section{
        flex-direction: row;
        align-items: start;
        gap: 50px;
    }
    .contact-left p, .contact-details, .contact-right input, .contact-right textarea{
        font-size: 18px;
        max-width: 80%;
    }
    .contact-right input, .contact-right textarea{
        width: 90%;
    }
}

@media (max-width: 768px){
    .contact{
        /* margin: 80px 50px; */
        margin-top: 70px;
        margin-left: 30px;
        margin-right: 30px;
        padding: 20px;
    }
    .contact-title h1{
        font-size: 60px;
    }
    .query-from{
        align-items: center;
        text-align: center;
    }
    .contact-section{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .contact-left, .contact-right{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .contact-left h1, .contact-right label{
        font-size: 25px;
    }
    .contact-left p, .contact-details, .contact-right input, .contact-right textarea{
        font-size: 22px;
        max-width: 80%;
    }
}


@media (max-width: 480px){
    .contact{
        margin: 80px 20px;
    }
    .contact-title img{
        position: absolute;

    }
    .contact-title{
        text-align: center;
    }
    .contact-title h1{
        font-size: 50px;
    }
    .contact-section{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .contact-left, .contact-right{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .contact-left h1, .contact-right label{
        font-size:20px;
    }
    .contact-left p, .contact-details, .contact-right input, .contact-right textarea{
        font-size: 18px;
        max-width: 100%;
    }
    .contact-right input, .contact-right textarea{
        width: 90%;
    }
}