.footer{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* justify-content: center; */
    gap: 30px;
    margin: 50px 170px;
}
.footer-top{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.footer-top-left p{
    font-size: 20px;
    max-width: 400px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-email-input{
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    margin: 20px;
    background: #32323b;
    padding-right: 80px;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 18px;
}
.footer-subscribe{
    font-size: 20px;
    padding: 0px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DF8908 10%, #B415FF 100%);
    cursor: pointer;
    transition: 0.3s;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.footer-email-input:hover{
    border: 2px solid white;
}
.footer-subscribe:hover{
    transform: scale(1.1);
    transform: 0.3s;
}

.footer-top-right{
    display: flex;
    flex-direction: column  ;
}

.footer-input-field{
    gap: 10px;
}

.footer-subscribe{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-input-field{
    display: flex;
    justify-content: center;
    align-items: center;
}

#direct-contact-button{
    background: transparent;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px;
    font-weight: 700;
}

.footer-email-input input{
    background: transparent;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important; /* match background */
  -webkit-text-fill-color: white !important; /* match text color */
  caret-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

.footer-input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-subscribe{
    padding: 0px 100px;
    cursor: pointer;
}
.footer{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}
.footer-top-left, .footer-top-right{
    width: 100%;
    max-width: 100%;
}
.footer-top-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}
.footer-top-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}
.footer-bottom{
    gap: 50px;
}

@media (maxwidth: 1024px){
.footer{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.footer-bottom-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
}

@media (max-width: 768px){
.footer{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 100%;
    /* margin: 50px 20px; */
    margin: 0px 15px;
}
}

@media (max-width: 648px){
    .footer-top{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 548px){
    .footer-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 480px){
    .footer{
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 100%;
        /* margin: 50px 20px; */
        margin: 0px 15px;
    }
    .footer-top{
        display: flex;
        flex-direction: column;
    }
    .footer-top-left, .footer-top-right{
        text-align: center;
    }
    .footer-input-field{
        margin: 10px;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-email-input{
        width: 80%;
        max-width: 80%;
        padding: 10px;
    }
    input {
    font-size: 16px; /* Avoid zooming issue on mobile */
    width: 100%;
    max-width: 100%;
  }
    .footer-subscribe{
        width: 80%;
        max-width: 100%;
        padding: 5px;
        /* height: 30%; */
        font-size: 16px;
    }
    .footer-bottom{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }
    .footer-bottom-right{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}